body {
  margin: 0;
  font-family: 'Roboto Slab', sans-serif;
}

a {
  color: #ff6b81;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #e74c3c;
}

a:active {
  color: #ff4757;
}

/* Style buttons */
button {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #ff6b81;
}

/* Style form elements */
input[type="text"], input[type="submit"] {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.container {
  display: flex;
  min-height: 100vh;
}

header {

  padding: 2em;
}

nav {
  background-color: #444;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin-bottom: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #555;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}

/* Sidebar Icon Styling */
nav i {
  font-size: 1.2em;
  margin-right: 8px;
}

/* Navbar Pressed-down Effect */
nav a:active {
  transform: translateY(2px);
}

/* Navbar Pressed-down Effect on Mobile */
@media (max-width: 768px) {
  nav a:active {
    transform: none;
  }
}


/* Hide sidebar by default */
nav {
  display: none;
}

/* Style mobile toggle button */
.mobile-toggle {
  display: none;
  background-color: #444;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* Display sidebar for wider screens and hide toggle button */
@media (min-width: 769px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #444;
    width: 200px;
  }

  .mobile-toggle {
    display: none;
  }
}

/* Display toggle button for smaller screens and hide sidebar */
@media (max-width: 768px) {
  nav {
    display: none;
  }

  .mobile-toggle {
    display: block;
  }

  .container {
    flex-direction: column;
  }

  main {
    padding: 20px;
  }
}
